<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Home Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h3>Welcome, sassd <br><a href="/logout">logout</a></h3>
        <h3>Exams Deadline</h3>
        <h3>12/4/2019</h3>
        <br>

        <div>
            <hr>
            <br>
            <b>Exam title</b>
            <button onclick="window.location.href = '';">Start Exam</button>
            <br>
            <br>
            <hr>
        </div>

        <div>
            <br>
            <b>Exam title</b>
            <button onclick="window.location.href = '';">Start Exam</button>
            <br>
            <br>
            <hr>
        </div>
        <br>
    </body>
</html>
