<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>View application page</title>
</head>

<body>
<div>

<h1> Canditate 1 </h1>

<h3> Email: </h3> <p> abcdsss@gmail.com </p>
<h3>Exam 1 :</h3> <p> 15 </p>
<h3>Exam 2 :</h3> <p>  16</p>
<h3>Exam 3 :</h3> <p>  35</p>
<h3>Total Score :</h3> <p> 80</p>
</div>
</body>
</html>
